.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 0px;
}

.subTitle {
  color: var(--btn);
  word-spacing: 6px;
}

.title {
  font-size: 54px;
  margin-bottom: 10px;
}

.desc {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.box h1 {
  color: var(--btn);
}

.imgContainer {
  flex: 1;
}

.imgCover {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto;
}

.img {
  object-fit: cover;
  filter: grayscale(100%);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 45px;
  }

  .textContainer {
    gap: 20px;
  }

  .boxes {
    flex-direction: column;
    gap: 20px;
  }

  .imgCover {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
  }

  .subTitle {
    color: var(--btn);
    font-size: 22px;
  }

  .title,
  .box h1 {
    font-size: 30px;
  }

  .desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
