.container{
    min-width: 4.2rem;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
}

.active{
    background-color: var(--text);
    color: var(--bg);
}

.container:hover{
    /* background-color: #EEEEEE; */
    color: gray;
    border: 1px solid var(--text);
}