.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  
}

.logout {
  padding: 4px 8px;
  margin-left: 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
}

.menuButton,
.mobileLinks {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menuButton {
    display: block;
    cursor: pointer;
  }

  .mobileLinks {
    position: absolute;
    z-index: 100;
    height: calc(100vh - 100px);
    width: 50%;
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--bg);
  
  }
}
