:root{
    --bg: #0d0c22;
    --bgSoft: #2d2b42;
    --text: white;
    --textSoft: #E5E5E5;
   --btn: #3673fd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text)
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 1536px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}

@media (max-width: 1536px){
    .container{
        width:1366px
    }
}

@media (max-width: 1366px){
    .container{
        width:1280px
    }
} 

@media (max-width: 1280px){
    .container{
        width:1024px;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
}

@media (max-width: 1024px){
    .container{
        width:640px;
        padding: 0px 0.7rem ;
    }
}

@media (max-width: 640px){
    .container{
        width:475px
    }
}

@media (max-width: 475px){
    .container{
        width:360px;
        padding: 0px 0.5rem;
    }
}
